@import url(reset.css);

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*Видалити коли буде готовий сайт*/

body {
	min-width: 1280px;
}

/*Видалити коли буде готовий сайт*/

@font-face {
    font-family: 'league_gothicregular';
    src: url('../fonts/league-gothic/leaguegothic-regular-webfont.woff2') format('woff2'),
	url('../fonts/league-gothic/leaguegothic-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/open-sans-light/opensans-light-webfont.woff2') format('woff2'),
    url('../fonts/open-sans-light/opensans-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansextrabold';
    src: url('../fonts/open-sans-extrabold/opensans-extrabold-webfont.woff2') format('woff2'),
    url('../fonts/open-sans-extrabold/opensans-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.clearfix:after {
	content: "";
    display: block;
	clear: both;
}

.wrapper {
	border: 1px solid black;
	width: 960px;
	margin: 0 auto;
}

.inner-mountains {
	/*border: 1px solid red;*/
	background: url(../img/bg-header.jpg) no-repeat;
	padding-bottom: 165px;
}

header {
	/*border: 1px solid green;*/
	padding: 70px 0 170px 0;
}

.banner {
	/*border: 1px solid yellow;*/
	background: rgba(0, 0, 0, 0.2);
}

.iphone {
	float: right;
	display: block;
	margin: -17px 75px 0 95px;
}

h1 {
	font-family: 'league_gothicregular';
	color: #fefefe;
	font-size: 60px;
}

.banner h5 {
	font-family: 'league_gothicregular';
	color: #edbfff;
	font-size: 32px;
	line-height: 35px;
}

.banner p {
	font-family: 'open_sanslight';
	color: #fff;
	font-size: 18px;
	line-height: 21px;
	margin-top: 5px;
}

.inner-gradient {
	padding: 80px 0 70px 0;
	border-top: 1px solid #33253a;
	border-bottom: 1px solid #33253a;
	background: rgb(116,80,131);
	background: -moz-linear-gradient(top,  rgba(116,80,131,1) 0%, rgba(50,37,57,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(116,80,131,1) 0%,rgba(50,37,57,1) 100%);
	background: linear-gradient(to bottom,  rgba(116,80,131,1) 0%,rgba(50,37,57,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#745083', endColorstr='#322539',GradientType=0 );
}

.about-company {
	border: 1px solid red;
	float: left;
	width: 280px;
	margin-right: 59px;
	padding-left: 53px;
}

.about-company:last-child {
	margin-right: 0px;
}

.about-company a, .updates a {
	border: 1px solid green;
	display: block;
	text-align: right;
	margin-right: 13px;
	font-family: 'league_gothicregular';
	color: #fff;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
}

.about-company a:hover {
	text-shadow: 1px 1px 2px black, 0 0 1em #fff;
}

.about-company h5:before {
	position: absolute;
	content: "";
	display: block;
	background: url(../img/icon.png);
	width: 24px;
	height: 25px;
	top: 5px;
	left: -52px;
}

.about-company h5 {
	/*border: 1px solid green;*/
	margin-bottom: 18px;
	position: relative;
	font-family: 'league_gothicregular';
	color: #fff;
	font-size: 30px;
	text-transform: uppercase;
}

.about-company p {
	/*border: 1px solid green;*/
	margin-bottom: 27px;
	font-family: 'open_sanslight';
	color: #fff;
	font-size: 16px;
	line-height: 20px;
}

.inner-reviews {
	padding: 100px 0 72px;
	background: #f9f9f9;
}

.starts-here, .updates {
	border: 1px solid red;
	float: left;
}

.morda {
	border: 1px solid #f6f6f6;
	background: #fff;
	padding: 32px 32px 42px 32px;
	margin: 0 0 23px 21px;
}

.golova {
	float: left;
	margin: -13px 0px 0px -57px;
}

.golova img {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.text {
	float: left;
	width: 350px;
}

.text h5 {
	margin-bottom: 20px;
	text-transform: uppercase;
	font-family: 'league_gothicregular';
	font-size: 30px;
	color: #454545;
}

.text span {
	color: #edbfff;
}

.text p {
	font-family: 'open_sanslight';
	font-size: 16px;
	line-height: 23px;
}

.arrow_box {
	position: relative;
}

.arrow_box:before {
	top: 100%;
	left: 75%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:before {
	border-color: rgba(255, 225, 255, 0);
	border-top-color: #fff;
	border-width: 16px;
	margin-left: -16px;
}


.tochki {
	text-align: center;
	margin-left: 25px;
}

.tochki li {
	display: inline-block;
    border: 1px solid #fff;
    margin-right: 5px;
    background: yellow;
    width: 19px; height: 19px;
    border-radius: 50%;
}

li.active {
	background: #000;
}

.updates {
	margin: 32px 0 0 60px;
}

.updates h5 {
	margin-bottom: 22px;
	text-transform: uppercase;
	font-family: 'league_gothicregular';
	font-size: 30px;
	color: #454545;
}

.updates img {
	float: left;
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.updates p {
	float: left;
	margin: 5px 0 0 17px;
	font-family: 'open_sansextrabold';
	font-size: 16px;
	line-height: 20px;
}

.updates span {
	font-family: 'open_sanslight';
}

.golova2 {
	margin-top: 20px;
}

.updates a {
	margin-top: 34px;
	color: #454545;
	margin-right: 0px;
}

.updates a:hover {
	text-shadow: 1px 1px 2px grey, 0 0 1em grey;
}

.inner-sponsops {
	background: #f9f9f9;
	border: 1px solid #e6e6e6;
	padding: 25px 0;
}

.logos {
	text-align: center;
}